{% extends 'base.html' %}

{% block title %}Страница бронирования{% endblock %}

{% block body %}
    <main class="main">
      <div class="container_number">
        <div class="cards2">
          <div class="cardOneH">
            <img src="static/images/roomHot.jpg" alt="" />
            <div class="text">
              <h3>Люкс</h3>
              <p>Двухкомнатный номер площадью 33 м2</p>
              <p>От <span class="sellT"> 5500 руб.</span>/сутки</p>
              <a href="./indexBR.html" class="aBR">
                <div class="ButtonRoom">Забронировать</div>
              </a>
            </div>
          </div>
          <div class="cardOneH">
            <img src="static/images/bedroom6.jpg" />
            <div class="text">
              <h3>Бизнес</h3>
              <p>Двухкомнатный номер площадью 42 м2</p>
              <p>От <span class="sellT"> 6500 руб.</span>/сутки</p>
              <a href="./indexBR.html" class="aBR">
                <div class="ButtonRoom">Забронировать</div>
              </a>
            </div>
          </div>
          <div class="cardOneH">
            <img src="static/images/image12.jpg" alt="" />
            <div class="text">
              <h3>Стандарт двухместный</h3>
              <p>Двухкомнатный номер площадью 42 м2</p>
              <p>От <span class="sellT"> 7000 руб.</span>/сутки</p>
              <a href="./indexBR.html" class="aBR">
                <div class="ButtonRoom">Забронировать</div>
              </a>
            </div>
          </div>
          <div class="cardOneH">
            <img src="static/images/bedr5.jpg" alt="" />
            <div class="text">
              <h3>Апартаменты</h3>
              <p>Двухкомнатный номер площадью 27 м2</p>
              <p>От <span class="sellT"> 3500 руб.</span>/сутки</p>
              <a href="./indexBR.html" class="aBR">
                <div class="ButtonRoom">Забронировать</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}