{% extends 'base.html' %}

{% block title %}Основная страница{% endblock %}

{% block body %}

    <div class="main_container">
      <div class="container2">
        <div class="MainText">
          <h1>
            Добро пожаловать в удивительный мир
            <p class="NameHotel">NEST HOTEL</p>
          </h1>
          <p class="MainTextTwo">
            10 лет опыта NEST HOTEL в санаторно-курортной отрасли определяет
            надежность, эффективность и высокое качество предоставляемых услуг. У
            нас вы получите широкий спектр возможностей для развлечений и
            полноценного отдыха, отличное питание и сервис европейского уровня
          </p>
        </div>
          <div class="MainButton">
            <a href="/booking" class="mainA">Забронировать</a>
          </div>
      </div>
      <div class="HtwoO">
        <div class="TextTwo">
          <h1>Услуги NEST HOTEL</h1>
          <div class="cards">
            <div class="cardOne">
              <img src="static/images/akvazona_h2o.jpg" alt="" />

              <a href="" class="aqc">Аквазона</a>
            </div>
            <div class="cardTwo">
              <img src="static/images/spa-4-min.jpg" alt="" />
              <a href="#" class="spa">Спа</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="newText">
          <h1>Наши преимущества</h1>
        </div>
        <div class="cardsNew">
          <div class="cardOnePr">
            <img src="static/images/1B (2).jpg" alt="" class="imgPR" />
            <p class="cardTextPR">
              Есть детская игровая комната и площадка, анимация, детские стулья,
              кроватки, всё, чтобы отдых с детьми был в радость
            </p>
          </div>
          <div class="cardTwoPr">
            <img src="static/images/изображение_2023-02-15_205709125.png" alt="" />
            <p>
              Питание по системе All Inclusive включает 3-х разовое питание по
              системе «Шведский стол» + перекусы и алкогольный бар
            </p>
          </div>
          <div class="cardThreePr">
            <img src="static/images/изображение_2023-02-15_205800235.png" alt="" />
            <p>
              На территории расположены 2 бассейна - крытый и уличный,
              SPA-комплекс также всегда доступен для наших гостей
            </p>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="MainTextAqua">
          <h1>Аквазона</h1>
        </div>
        <div class="TextCardAqua">
          <div class="oneCard">
            <p>
              На территории аквазоны мы собрали восемь различных по размеру и
              уровню экстрима водных аттракционов, чтобы каждый гость мог
              отправиться в невероятное путешествие положительных эмоций. <br />
              <br />Любителям пощекотать нервы и зарядиться порцией адреналина
              придется по вкусу скоростная горка «Цунами», а также аттракцион
              «Свободное падение» с длинной спуска более семидесяти метров. А
              ощутить невероятный полёт в кромешной темноте, где пространство и
              время поменяются местами, Вам поможет водная горка «Черная дыра».
            </p>
            <img src="static/images/kartinki-akvapark-7.jpg" alt="" class="aquaImg" />
          </div>
          <div class="twoCardAqua">
            <img src="static/images/aquaGG.webp" alt="" class="aquaTwoImg" />
            <p>
              Для поклонников более спокойного отдыха мы предлагаем расположиться
              на шезлонгах у большого «Волнового бассейна» с имитацией волн
              океана, где можно расслабиться в окружении пальм и приятного шума
              водопада. Окунуться в мир релакса Вам поможет «Спа-бассейн»,
              оснащенный водяными пушками, гидромассажным оборудованием и
              гейзерами. <br />
              <br />А снять стресс и насладиться мягким водным массажем Вы можете
              в «Спа-чашах». В распоряжении гостей, заботящихся о своей фигуре
              «Спортивный бассейн» и водоем «Быстрая река», скорость течения
              которого позволяет использовать данную реку для аква-гимнастики,
              фитнес ходьбы против течения или других тренировок и плавания.
            </p>
          </div>
        </div>
      </div>
      <div class="backgroundSPA">
        <div class="container2">
          <div class="MainTextSpa">
            <h1>SPA-комлекс</h1>
          </div>
          <div class="wrapper">
            <div class="cardOneSPA">
              <img src="static/images/oneSPA.png" alt="" />
              <div class="cardTextSPA">ТРАДИЦИОННЫЙ ТАЙСКИЙ МАССАЖ</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
            <div class="cardOneSPA">
              <img src="static/images/9(1).png" alt="" />
              <div class="cardTextSPA">СПОКОЙНАЯ ВОЛНА</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
            <div class="cardOneSPA">
              <img src="static/images/66.png" alt="" />
              <div class="cardTextSPA">ОЧАРОВАНИЕ СИМИЛАН</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
          </div>
          <div class="twowrapper">
            <div class="cardOneSPA">
              <img src="static/images/65.png" />
              <div class="cardTextSPA">ЯГОДНОЕ ОБЕРТЫВАНИЕ КОМПЛЕКСНОЕ</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
            <div class="cardOneSPA">
              <img src="static/images/67.png" alt="" />
              <div class="cardTextSPA">ВОСТОК И АЗИЯ</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
            <div class="cardOneSPA">
              <img src="static/images/38.png" alt="" />
              <div class="cardTextSPA">ЖЕМЧУЖИНА ВОСТОКА</div>
              <a href="#">
                <div class="ButtonSPA">Подробнее</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="footer">
          <div class="footer_base">
            <div class="MainTextFooter">
              <div class="OneTextFooter">
                <h4>NEST HOTEL</h4>
              </div>
              <div class="TwoTextFooter">
                <p class="number">+89277453443</p>
                <p>nesthotel@gmail.com</p>
                <p>call-центр бронирования ежедневно с 9:00 до 21:00 МСК</p>
              </div>
              <div class="ThreeTextFooter">
                <p>Ростов-на-Дону, Красноармейская 69/1</p>
                <div class="icons">
                  <img src="static/images/telegram.png" alt="" />
                  <img src="static/images/vv.png" alt="" />
                  <img src="static/images/instagram.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
