{% extends 'base.html' %}

{% block title %}Страница сброса пароля{% endblock %}

{% block body %}
    <form method="post">
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="border">
                    <div class="users">

                        <div class="userstext">
                            Reset Password
                        </div>

                        <div class="inputstring">
                            {{ form.password.label(class = "form_control") }}

                            {% if form.password.errors %}
                                {{ form.password(class = "form_control_pl") }}
                                <div>
                                    {% for errors in form.password.errors%}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class = "form_control_pl") }}
                            {% endif %}
                        </div>

                        <div class="inputstring">
                            {{ form.confirm_password.label(class = "form_control") }}

                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class = "form_control_pl") }}
                                <div>
                                    {% for errors in form.confirm_password.errors%}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class = "form_control_pl") }}
                            {% endif %}
                        </div>

                        <div class="button">
                            {{ form.submit(class = "button_new") }}
                        </div>

                    </div>
                </div>
            </div>
        </form>
{% endblock %}